body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
 .nav-link{
  margin-left: 40px;
 }
 .footer-links a {
  text-decoration: none;
  display:inline-block;
  margin-bottom: 10px;
  font-size: 14px;
  font-family:"Inter" sans-serif;
  color: #666666;
   transition: all 0.2s ease;
 }
.footer-links a:hover {
  font-weight: 300;   /* bold feel */
  color: #117cff !important;
}
 .footer-legal-links {
  display: flex;
  justify-content: center;   /* center alignment */
  align-items: center;
  gap: 18px;                 /* links ke beech equal space */
  flex-wrap: nowrap;         /* next line me nahi jayenge */
  white-space: nowrap;       /* text break nahi hoga */
  overflow-x: auto;          /* chhoti screen pe scroll aa sakta hai */
  margin-top: 10px;
  padding-right: 170px;
}

.footer-legal-links a {
  text-decoration: none;
  font-size: 14px;
  color: #666;
}

.footer-legal-links a:hover {
  font-weight: 600;
}
.my-fonts{
  font-size: 12px ;
}
#supportHero{
 background-color:rgb(56,126,209) ;
 color: white;
}
#supportHero a{
  color: white;
}
#supportWrappers{
  display: flex;
  justify-content: space-between;
  margin: 0,150px;
}
#supportHero input{
  padding:100px, 50px;
  width: 100%;
  font-size: 20px;
  border-radius: 10px;
  border: none ;
}
